@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../../../assets/fonts/NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../../../assets/fonts/NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
  }