@use './partials/font.module.scss' as *;
@use './partials/variables.module.scss' as *;
@use './partials/responsive.module.scss' as *;

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: $off-white;
}