@import './fonts.css'; 
@import './colors.css';

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: var(--offWhite);
}